networks:
  csm-network:
    name: csm-network
    external: true

volumes:
  csm-postgres-vol-0:
    name: csm-postgres-vol-0

x-common-attrs: &common-attrs
  env_file: .env
  networks:
    - csm-network

services:
  csm-backend:
    << : *common-attrs
    build: .
    image: csm-backend
    container_name: csm-backend
    develop:
      watch:
        - action: sync
          path: ./
          target: /backend/
    ports:
      - 8000:8000
    volumes:
      - type: bind
        source: ./
        target: /backend/
      - type: bind
        source: ./logs/
        target: /var/logs/csm/
      - type: bind
        source: ./csm.sh
        target: /etc/profile.d/csm.sh
    depends_on:
      csm-postgres-db-dev:
        condition: service_healthy
    command: [
      "pipenv", "run", "uvicorn", "src.main:app",
      "--host", "0.0.0.0",
      "--reload",
      "--log-level", "debug",
      "--log-config", "logs.ini"
    ]
  csm-postgres-db-dev:
    << : *common-attrs
    image: postgres:12.18-bullseye
    container_name: csm-postgres-db-dev
    ports:
      - 15432:5432
    volumes:
      - csm-postgres-vol-0:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 5
