[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
sqlalchemy = "*"
paho-mqtt = "*"
ruff = "*"
pytest-env = "*"
black = "*"
psycopg2-binary = "*"
pytest-cov = "*"
websockets = "*"

[dev-packages]

[requires]
python_version = "3.12"
