[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
paho-mqtt = "*"
pytest-env = "*"
black = "*"
psycopg2-binary = "*"
pytest-cov = "*"
websockets = "*"
ruff = "*"
pytest-asyncio = "*"
redis = "*"
fastapi = {extras = ["standard"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12"
